.sidebar {
	position: fixed;
	width: 72px;
	left: 0;
	top: 55px;
	bottom: 0;
	background-color: white;
	border-right-color: rgb(222 222 222);
	border-right-width: 1px;
	border-right-style: solid;
	z-index: 21;
	display: flex;
	flex-direction: column;
	align-items: center;

	
}
.sicon {
	width: 28px;
}
.icon-name-pack{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	width: 72px;
	height: 70px;
	justify-content: center;
	transition: background-color 0.20s;
}
.icon-name-pack:hover{
	background-color: rgb(220, 220, 220);
	cursor: pointer;
}
.icon-name{
	font-size: 10px;
}
